#woocommerce_voltio_mode {
  display: none;
}

.label-mode {
  display: block !important;

  input {
    margin-right: 10px !important;
  }
}

.voltio-tabs {
  padding: 20px 0 10px;

  a {
    background: #fff;
    color: #111;
    text-decoration: none;
    padding: 10px 30px;
    transition: all .5s;

    &.active {
      background: #2271b1;
      color: #fff;
    }
  }
}

.fields-toggler-by-mode {
  + .current-config {
    display: block;
    margin-top: 15px;
    font-weight: bold;
  }
}