.volt-modal{
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: fade_out(#192353, .4);
  z-index: 999;
  >div{
    display: flex;
    width: 90%;
    margin: auto;
    border-radius: 3px;
    overflow: hidden;
    @media screen and (min-width: 768px) {
      margin: 0 0 0 31px;
      width: 570px;
    }
    >div{
      position: relative;
      &.volt-left{
        background: #fff;
        width: 56%;
        padding: 24px;
        @media screen and (max-width: 767px) {
          width: 100%;
        }
        .volt-title{
          color: #192353;
          font-weight: 500;
          font-size: 15px;
        }
        .volt-subtitle{
          font-size: 10px;
          color: #3D477B;
          margin-bottom: 24px;
        }
        .volt-steps{
          .volt-step{
            display: flex;
            margin-bottom: 24px;
            .volt-number{
              line-height: 0;
              width: 18px;
              height: 18px;
              min-width: 18px;
              min-height: 18px;
              border-radius: 50%;
              background: #1B63CF;
              color: #fff;
              font-weight: bold;
              display: flex;
              justify-content: center;
              align-items: center;
              font-size: 8px;
              position: relative;
              -webkit-box-shadow: 0px 0px 0px 4px #DBE4FA;
              box-shadow: 0px 0px 0px 4px #DBE4FA;
              margin-top: 6px;
            }
            .volt-content{
              margin-left: 10px;
              font-size: 12px;
              color: #192353;
              line-height: 18px;
              p{
                margin: 0 !important;
                display: block !important;
                &:first-of-type{
                  font-weight: 500;
                }
                &:last-of-type{
                  font-size: 10px;
                  color: #3D477B;
                }
              }
            }
          }
        }
        .volt-close{
          background: #1B63CF !important;
          color: #fff !important;
          text-decoration: none !important;
          border-radius: 3px !important;
          height: 33px !important;
          display: flex !important;
          align-items: center !important;
          justify-content: center !important;
          position: relative !important;
          z-index: 5 !important;
          font-weight: 500 !important;
          font-size: 16px !important;
        }
      }
      &.volt-right{
        @media screen and (max-width: 767px) {
          display: none;
        }
        margin-left: -43px;
        img{
          width: 100%;
          margin-bottom: -8px;
          position: relative;
          z-index: 4;
        }
      }
    }
  }
}
.show-volt-modal{
  text-decoration: none !important;
  border: 0 !important;
  img{
    float: none !important;
  }
}

[for="payment_method_voltio"]{
  display: flex !important;
  align-items: center;
  >a{
    img{
      margin-left: 5px;
    }
  }
  >img{
    margin-left: auto !important;
  }
}